body {
    background-image: url("image.png");
}

.title {
    text-align: center;
    font-family: "Monaco", monospace
}

.waffle {
    height: 300px;
    width: auto;
    float: left;
    flex-direction: row;
}

.blog {
    background-color: green;
    width: 100px
}