body {
    background-image: url("image.png");
}

.title {
    text-align: center;
    font-family: "Monaco", monospace
}

.waffle {
    height: 300px;
    width: auto;
    float: left;
    flex-direction: row;
}

.blog {
    background-color: black;
    border-radius: 15px;
    width: 575px;
    height: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    
}

.img {
    padding: 5%;
    width: 450px;
    height: 800px
}

