body {
    background-image: url("image.png");
}

.title {
    text-align: center;
    font-family: "Monaco", monospace
}

.Image {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-top: 5%;
    
}


.KashimoCard {
    background-color: violet;
    width: 28%;
    height: 50%;
    margin-left: 20px;
    border-width: 15px;
    border-color: black;
    border-radius: 10px;
    float: left; 
}

.SukunaCard {
    background-color: black;
    width: 28%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    float: center; 
    
}

.GojoCard {
    background-color: aqua;
    width: 28%;
    height: 50%;
    margin-right: 20px;
    border-width: 15px;
    border-color: black;
    border-radius: 10px;
    float: right; 
}

.Textbox {
    background-color: white;
    width: 90%;
    height: 45%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center; 
    top: 10%;
}

.maintext {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: auto
}